@import "../base/variables";

.form {
    @include sc-row;
    &__info {
        height: 730px;
        width: 80vw;
        color: #fff;
        font-family: roboto, sans-serif;
        font-size: 1.5rem;
    }
    
    &__name, &__email, &__message, &__phone, input {
        padding: 20px;
        width: 100%;
    }
    
    &__submit {
        padding: 20px;
    }
    
    &__submit input {
        padding: 15px;
        width: 100%;
        background-color: rgba(12, 220, 70, 0.420);
    }
    
    &__submit input,value {
        font-size: 1.5rem;
        font-weight: 700;
        color: #fff;
    }
}
