.container__img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5em;
    padding: 1em;
    align-items: stretch;
    grid-template-areas:
        "img1 img2 img3"
        "img4 img2 img5";
    .img {
        max-width: 100%;
        object-fit: cover;
    }
    .img1 {
        grid-area: img1;
    }
    
    .img2 {
        grid-area: img2;
    }
    
    .img3 {
        grid-area: img3;
    }
    
    .img4 {
        grid-area: img4;
    }
    
    .img5 {
        grid-area: img5;
    }
    
    .img6 {
        grid-area: img6;
    }
}