@import "../base/variables";

@media screen and (max-width: 1024px) {
    /* INDEX */
    .hero h1 {
        font-size: 3.3em;
        text-align: center;
    }

    .hero p {
        font-size: 1.7em !important;
    }

    /* NOTICIAS */

    /* CONCIENTIZATE */

    /* GALERÍA */
    .container__img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-gap: 0.5em;
        padding: 1em;
        height: 100vh;
        align-items: stretch;
        grid-template-areas:
            "img1 img2 img3"
            "img4 img2 img5";
    
    }

    /* CONTACTO */
    
    .footer {
        @include sc-col;
    }
}

@media screen and (max-width: 768px) {
    /* INDEX */
    .hero h1 {
        font-size: 2.7em;
        text-align: center;
    }

    .hero p {
        font-size: 1.4em !important;
        text-align: center;
    }

    /* NOTICIAS */

    /* CONCIENTIZATE */

    /* GALERÍA */
    .container__img {
        display: flex;
        flex-direction: column;
        column-gap: 1rem;
    }

    .img3 {
        order: -1;
    }

    /* CONTACTO */

    .footer {
        @include sc-col;
    }
}

@media screen and (max-width: 425px) {
    /* INDEX */
    .hero h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .hero p {
        font-size: 0.8em !important;
        text-align: center;
    }

    /* NOTICIAS */

    /* CONCIENTIZATE */

    /* GALERÍA */
    .container__img {
        display: flex;
        flex-direction: column;
        column-gap: 1rem;
    }

    .img3 {
        order: -1;
    }

    /* CONTACTO */
    .form__submit input {
        width: 100%;
    }

    .footer {
        @include sc-col;
    }
}