@import "../base/variables";

@media screen and (max-width: 1920px) {
    /* INDEX */
    .hero h1 {
        font-size: 3.3em;
        text-align: center;
    }

    .hero p {
        font-size: 1.7em !important;
    }

    /* NOTICIAS */
    .noticias__grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        gap: 1em;
        padding-block: 1.5%;
    }
    
    .titulo__noticias {
        font-size: 3em;
        font-weight: 500;
    }

    .text__noticias {
        font-size: 1em;
        font-weight: 500;
    }

    .noticias__img {
        object-fit: fill;
        height: 40%;
    }

    .noticia1 {
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }
    
    .noticia2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .noticia3 {
        grid-column: 1 / 2;
        grid-row: 2 / 2;
    }
    
    .noticia4 {
        grid-column: 2 / 3;
        grid-row: 2 / 2;
    }

    /* CONCIENTIZATE */
    .container__cards {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        row-gap: 1em;
    }

    .concientizate__img1 {
        grid-column: 1 / 2;
        grid-row: 1;
        object-fit: contain;
        height: 70%;

        justify-self: center;
        align-self: center;
        @include sc-row;
    }

    .card__text1 {
        grid-column: 2 / 3;
        grid-row: 1;

        width: 43em;
        padding-bottom: 5%;
        background-color: rgb(66, 66, 66);
        border-radius: 2%;
        color: #fff;
        
        justify-self: center;
        align-self: center;
        @include sc-col;
    }

    .concientizate__img2 {
        grid-column: 2 / 3;
        grid-row: 2;
        object-fit: contain;
        height: 70%;

        justify-self: center;
        align-self: center;
        @include sc-row;
    }

    .card__text2 {
        grid-column: 1 / 2;
        grid-row: 2;

        width: 43em;
        padding-bottom: 5%;
        background-color: rgb(66, 66, 66);
        border-radius: 2%;
        color: #fff;
        
        justify-self: center;
        align-self: center;
        @include sc-col;
    }

    /* GALERÍA */
    .container__img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 0.5em;
        padding: 1em;
        align-items: stretch;
        grid-template-areas:
            "img1 img2 img3
            img4 img2 img5";
    }

    /* CONTACTO */
    .form__submit input {
        width: 100%;
    }

    .footer {
        @include sc-col;
    }
}

@media screen and (max-width: 1024px) {

    /* INDEX */
    .hero h1 {
        font-size: 3.3em;
        text-align: center;
    }

    .hero p {
        font-size: 1.7em !important;
    }

    /* NOTICIAS */ 

    .container__noticias {
        padding-bottom: 3em;
    }

    .titulo__noticias {
        font-size: 2em;
        font-weight: 500;
    }

    .text__noticias {
        font-size: 1em;
        font-weight: 500;
    }

    .noticias__img {
        object-fit: cover;
        height: 40%;
    }

    /* CONCIENTIZATE */
    .concientizate__img1 {
        object-fit: contain;
        height: 70%;

        justify-self: center;
        align-self: center;
        @include sc-row;
    }

    .card__text1 {
        width: 30em;
        padding-bottom: 5%;
        background-color: rgb(66, 66, 66);
        border-radius: 2%;
        color: #fff;
        
        justify-self: center;
        align-self: center;
        @include sc-col;
    }

    .concientizate__img2 {
        object-fit: contain;
        height: 70%;

        justify-self: center;
        align-self: center;
        @include sc-row;
    }

    .card__text2 {
        width: 30em;
        padding-bottom: 5%;
        background-color: rgb(66, 66, 66);
        border-radius: 2%;
        color: #fff;
        
        justify-self: center;
        align-self: center;
        @include sc-col;
    }


    /* GALERÍA */
    .container__img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-gap: 0.5em;
        padding: 1em;
        align-items: stretch;
        grid-template-areas:
            "img1 img2 img3"
            "img4 img2 img5";
    }

    /* CONTACTO */
    .form__submit input {
        width: 100%;
    }

    .footer {
        @include sc-col;
    }
}

@media screen and (max-width: 768px) {

    /* INDEX */
    .hero h1 {
        font-size: 2.7em;
        text-align: center;
    }

    .hero p {
        font-size: 1.4em !important;
        text-align: center;
    }

    /* NOTICIAS */
    .noticias__grid {
        display: flex;
        flex-direction: column;

        padding-block: 5%;
    }

    /* CONCIENTIZATE */
    .container__cards {
        display: flex;
        flex-direction: column;
    }

    .concientizate__img1 {
        object-fit: contain;
        height: 25em;

        justify-self: center;
        align-self: center;
        @include sc-row;
    }

    .card__text1 {
        font-size: 1.3em;
        width: 33em;
        padding-bottom: 5%;
        margin-bottom: 5%;
        background-color: rgb(66, 66, 66);
        border-radius: 2%;
        color: #fff;
        
        justify-self: center;
        align-self: center;
        @include sc-col;
    }

    .concientizate__img2 {
        object-fit: contain;
        height: 25em;

        justify-self: center;
        align-self: center;
        @include sc-row;
    }

    .card__text2 {
        font-size: 1.3em;
        width: 33em;
        padding-bottom: 5%;
        margin-bottom: 5%;
        background-color: rgb(66, 66, 66);
        border-radius: 2%;
        color: #fff;
        
        justify-self: center;
        align-self: center;
        @include sc-col;
    }

    /* GALERÍA */
    .container__img {
        display: flex;
        flex-direction: column;
        column-gap: 1rem;
    }

    .img3 {
        order: -1;
    }

    /* CONTACTO */
    .footer {
        @include sc-col;
    }
}

@media screen and (max-width: 425px) {

    /* INDEX */
    .hero h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .hero p {
        font-size: 0.8em !important;
        text-align: center;
    }

    /* CONCIENTIZATE */
    .container__cards {
        display: flex;
        flex-direction: column;
    }

    .concientizate__img1 {
        object-fit: contain;
        height: 20em;

        justify-self: center;
        align-self: center;
        @include sc-row;
    }

    .card__text1 {
        font-size: 1em;
        width: 19em;
        padding-bottom: 5%;
        margin-bottom: 5%;
        
        justify-self: center;
        align-self: center;
        @include sc-col;
    }

    .concientizate__img2 {
        object-fit: contain;
        height: 20em;

        justify-self: center;
        align-self: center;
        @include sc-row;
    }

    .card__text2 {
        font-size: 1em;
        width: 19em;
        padding-bottom: 5%;
        margin-bottom: 5%;
        
        justify-self: center;
        align-self: center;
        @include sc-col;
    }


    /* CONTACTO */
    .contactanos {
        font-size: 2.5rem;
    }

    .form__submit input {
        width: 100%;
    }

    .footer {
        @include sc-col;
    }
}